*{
    color: black;
    font-family: Lato;
}
#Header-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 10fr;
    grid-column-gap: 10px;
    /* grid-template-rows: repeat(4,5%); */
    /* background-color: red; */
    /* grid-gap: 20px; */
    /* grid-template-areas: 
        "Header-cont" */

}

#Header-wrapper .ActivePage{
    text-decoration-line: underline;
    /* background-color: blueviolet; */
  
}

#Header-wrapper a:link{
    text-decoration-line: none;
}

#Header-wrapper .Header-sub{
    margin: 5% 20%;
}

/* #Portfolio-header{
    grid-area:0/2/span 1/span 1;
}
#About-header{
    grid-area: 0/3/span 1/span 1;
}
#Blog-header{
    grid-area: 0/4/span 1/span 1;
} */

.PortfolioItemContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    min-height: 95vh;

}
.PortfolioItem{
    max-width: 90%;

}
.PortfolioItem img{
    max-width: 100%;
}

.Gallery{
    position: absolute;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    background-color: olive;

}
.Gallery img{
    max-width: 100%;


}

.Gallery .closeButton{
    top: .5%;
    left: .5%;
    font-family: arial;
    position: absolute;
    color: red;
}

.Gallery .arrow{
    position: absolute;
    top: 50%;
    font-size: 48px;
    transform: scale(0.3);
}

.Gallery .leftArrow{
    left:-1%;
}
.Gallery .rightArrow{
    transform:rotate(180deg) scale(0.3);
    /* transform: rotate(180deg); */
    right:-1%;
}