*{
    color: black;
    font-family: Lato;
}
#Header-wrapper{
    display: flex;
   

}

#Header-wrapper .ActivePage{
    text-decoration-line: underline;
    /* background-color: blueviolet; */  
}

#Header-wrapper a:link{
    text-decoration-line: none;
}

#Header-wrapper .Header-sub{
    margin: 8px 10px;
}

/* #Portfolio-header{
    grid-area:0/2/span 1/span 1;
}
#About-header{
    grid-area: 0/3/span 1/span 1;
}
#Blog-header{
    grid-area: 0/4/span 1/span 1;
} */
.Body-content{
    /* display: flex;
    justify-content: space-around; */
}
.PortfolioItemContainer{
    width: 90vw;
    /* margin:auto; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 5px;

    /* min-height: 95vh; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */



}
.PortfolioItem{
    margin-bottom: 2vw;
}
.PortfolioItem img{
    /* width: 30vw;
    height: 30vw; */
    width:25%;
    /* max-width: 300px;
    max-height: 300px; */

    
}

.Gallery{
    position: absolute;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    background-color: olive;

}
.Gallery img{
    max-width: 100%;


}

.Gallery .closeButton{
    top: .5%;
    left: .5%;
    font-family: arial;
    position: absolute;
    color: red;
}

.Gallery .arrow{
    position: absolute;
    top: 50%;
    font-size: 48px;
    transform: scale(0.3);
}

.Gallery .leftArrow{
    left:-1%;
}
.Gallery .rightArrow{
    transform:rotate(180deg) scale(0.3);
    /* transform: rotate(180deg); */
    right:-1%;
}